.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  background: #0A81B8;
  border-bottom: 0px solid #333232;
  height: 15px;
  border-radius: 0 0 10px 10px;
  position: relative;
  text-align: center;
}

.footer p {
  margin: 0;
  font-size: 0.95rem;
  line-height: 1.4;
  color: #ffffff;
  text-align: center;
}

@media (max-width: 640px) {
  .footer {
    padding: 0.9rem 1rem;
    font-size: 0.9rem;
  }
}
